.overflow-hidden {
    overflow: hidden !important;
}

.no-user-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-not-allowed {
    cursor: not-allowed;
}

.text-underline {
    text-decoration: underline;
}

.text-line-through {
    text-decoration:  line-through;
}
