$body-font-family = -Apple-system, BlinkMacSystemFont, PingFangTC, Roboto, microsoft JhengHei, Helvetica, Arial, sans-serif;

$font-weights = {
    thin: 100,
    light: 300,
    regular: 400,
    medium: 500,
    bold: 600,
    black: 900
}

//$grid-breakpoints := {
//    xs: 0
//    sm: 600px
//    md: 960px
//    lg: (1280px - 16px) // Desktop gets a 16dp reduction
//    xl: (1920px - 16px) // https://material.io/guidelines/layout/responsive-ui.html#responsive-ui-breakpoints
//}

$grid-breakpoints := {
    xs: 0
    sm: 576px
    md: 768px
    lg: (992px - 16px)
    xl: (1280px - 16px)
}

@require '~vuetify/src/stylus/settings/_variables.styl'

